body {
    font-family: Arial, sans-serif;
}

.chat-container {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.chat-box {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 70px);
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

.user1-message {
    background-color: #e6f2ff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.user2-message {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.bot-message {
    background-color: #cceeff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
}
